DATABASE_URL=postgresql://localhost/clark_development
SECRET_KEY_BASE=
RAILS_ENV=development
ANTHROPIC_API_KEY=sk-ant-...
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-west-3
AWS_BUCKET=clark-rent-production
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
SENDGRID_API_KEY=
JWT_SECRET=
