<p>Bonjour <%= @ticket.reporter.first_name %>,</p>
<p>Le ticket <strong><%= @ticket.title %></strong> a été résolu.</p>
<p>Si le problème persiste, vous pouvez rouvrir un ticket depuis votre espace.</p>
