<p>Bonjour <%= @ticket.tenant.first_name %>,</p>
<p>Le ticket <strong><%= @ticket.description.to_s.lines.first&.strip %></strong> a été résolu.</p>
<p>Si le problème persiste, vous pouvez rouvrir un ticket depuis votre espace.</p>
